Framework3/.vs/
Framework2/ConsoleApp21/.vs/ConsoleApp21/v15/.suo
Framework2/Framework2/.vs/Framework2/DesignTimeBuild/.dtbcache
Framework2/Framework2/.vs/Framework2/v15/.suo
Framework2/Framework2/.vs/Framework2/v15/Server/sqlite3/db.lock
Framework2/Framework2/.vs/Framework2/v15/Server/sqlite3/storage.ide
Framework2/Framework2/.vs/Framework2/v15/Server/sqlite3/storage.ide-shm
Framework2/Framework2/.vs/Framework2/v15/Server/sqlite3/storage.ide-wal
Framework4/FrammeWork4/FrammeWork4/obj/FrammeWork4.csproj.nuget.cache
